@model Store.Data.Product 


  <div class="jumbotron">
<h2 class="text-center"style="color:cornsilk">Are you sure you want to buy this product ?</h2>

  
       </div>
@using (Html.BeginForm("Buy", "Products",new { id=Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
        <input type="submit"value="Buy"class="btn btn-success" style="width:50%"/>
       
  
}                                                                          
<input type="submit" value="Back" class="btn btn-default"onclick="goBack()" style="width:50% "/>

<script type="text/javascript">
    function goBack()
    {
        window.history.back()
    }
</script>