@model IEnumerable<Store.Models.Products.HomeProducts>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Online Store</h1>
    <p class="lead text-center">Buy and Sell Everything!</p>
    <p class="text-center">
        <a href="/Products/Create"class="btn btn-primary btn-lg">Sell Now</a>
    <a href="/Products/All" class="btn btn-primary btn-lg">See All Products</a>
    </p>
</div>

<div class="row">
   @foreach (var product in Model)
   {
     <div class="col-md-4">
          <h2>@product.Name - @product.Categorie</h2>
        <p>
         <a class="btn btn-default" href="/Products/Details/@product.Id">
             <img src="@product.ImageUrl" class="img-responsive" />
            See More...</a></p>
     </div>
   }
</div>