@model IEnumerable<Store.Models.Products.HomeProducts>


@{
    ViewBag.Title = "Home Page";
}



<div class="form-group">
    <h1 class="text-center">Online Store</h1>
    <p class="lead text-center">Buy and Sell Everything!</p>
    <p class="text-center">
        <a href="/Products/Create" class="btn btn-primary btn-lg"style="width:100%" >Sell Now</a>
        <br />
        <a href="/Products/All" class="btn btn-primary btn-lg"style="width:100%">See All Products</a>
        <br />
        <br />
        <div class="text-center"style="width:100%">
            @using (Html.BeginForm("All","Products",FormMethod.Get))
            {
                <input type="text" class="form-control" name="search" style="display:inline-block" />
                <input type="submit" value="Search" class="btn btn-default" />
            }
            </div>
    </p>

  
</div>
  <div class="jumbotron">
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-6">
            <h2>@product.Name - @product.Categorie</h2>
            <p>
                <a class="btn btn-default" href="/Products/Details/@product.Id">
                    <img src="@product.ImageUrl" class="img-responsive" />
                </a>
            </p>
        </div>
    }
</div>
</div>